<script src="../../../app-routing.module.ts"></script>
<mat-toolbar color="primary">
  <span>Templates</span>
</mat-toolbar>

<mat-card>
  <button (click)="viewTemplate(0)" mat-button mat-icon-button color="warn">
    <mat-icon>add</mat-icon>
  </button>
  <br><br>

  <mat-card-content>
    <mat-grid-list cols="50" rowHeight="200px">
      <mat-grid-tile colspan="12.5" title="Preview"  *ngFor="let template of templateList | async">
        <mat-card style="width: 100%; margin:15px" class="hoverClass" class="example-card" (click)="viewTemplate(template.id)">
          <mat-card-content>
            <mat-card-title>{{template.name}}</mat-card-title>
            <mat-card-subtitle>{{template.description}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card> 
      </mat-grid-tile><br>
    </mat-grid-list> <br>
  </mat-card-content>

</mat-card>