<script src="../../app-routing.module.ts"></script>
<mat-toolbar color="primary">
  <span>Edit Template</span>
</mat-toolbar>

<mat-card>
  <button mat-button mat-icon-button color="warn"> <mat-icon> add</mat-icon> </button> |   <button mat-button mat-icon-button> <mat-icon> save</mat-icon> </button>
  <br><br>
  <mat-grid-list cols="45" rowHeight="500px">
    <mat-grid-tile colspan="15" title="Available Components">
      <app-dropdown-group></app-dropdown-group>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" title="Selected Components">
      <app-selected-components></app-selected-components>
    </mat-grid-tile>
    <mat-grid-tile colspan="25" title="Preview">
      <app-template-preview></app-template-preview>
    </mat-grid-tile>
  </mat-grid-list> <br>

</mat-card>
