td {
    padding-right: 20px;
  }

  h1 {
    text-align: center;
  }

  form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    size: 50px;
  }

  .main {
    margin-top: 0%;
    background-color: beige;
    width: 30%;
  }

  .inner{
      align-content: center;
  }