<div class="main"> 
  <div class="inner">
    <tr>
        <td colspan="2"><h1>Add Component</h1></td>
      </tr>  
<table>
  <!-- <tr>
    <td>Name</td>
    <td>Desciption</td>
  </tr> -->
  <tr>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="enter name">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field appearance="outline">
        <mat-label>Desciption</mat-label>
        <input matInput placeholder="enter description">
      </mat-form-field>
    </td>
  </tr>
  <!-- <tr>
    <td>Component Type</td>
    <td>HTML Markup</td>
  </tr> -->
  <tr>
    <td>
      <mat-form-field>
        <mat-label>select a type</mat-label>
        <mat-select #fontSize value="16px" >
          <mat-option value="Header">header</mat-option>
          <mat-option value="Body">body</mat-option>
          <mat-option value="Footer">footer</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td> 
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Html Markup"></textarea>
          </mat-form-field>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><button mat-raised-button color="primary">Save</button></td>
  </tr>
</table>
</div>
</div>
