
<form [formGroup]="textConfigForm">
  <mat-form-field class="form-feild">
    <input matInput type="text" placeholder="Text" formControlName="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
</form>  
<button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>
