
<form [formGroup]="tableConfigForm">
  <mat-form-field>
    <mat-label>Table width</mat-label>
    <mat-select formControlName="width" value="100">
      <mat-option value="10">10</mat-option>
      <mat-option value="20">20</mat-option>
      <mat-option value="30">30</mat-option>
      <mat-option value="40">40</mat-option>
      <mat-option value="50">50</mat-option>
      <mat-option value="60">60</mat-option>
      <mat-option value="70">70</mat-option>
      <mat-option value="80">80</mat-option>
      <mat-option value="90">90</mat-option>
      <mat-option value="100">100</mat-option>
    </mat-select>
  </mat-form-field>
</form>  
<button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>

