<form [formGroup]="linkConfigForm">
  <mat-form-field class="form-field">
    <input matInput type="text" placeholder="Link" formControlName="href">
    <button mat-button *ngIf="href" matSuffix mat-icon-button aria-label="Clear" (click)="href=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> <br>
  <mat-form-field class="form-field">
    <input matInput type="text" placeholder="Link Text Value" formControlName="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
<button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>