  <form [formGroup]="separatorConfigForm"  >
    <mat-form-field class="form-field">
      <input matInput type="text" placeholder="Size" formControlName="size" >
      <button mat-button *ngIf="size" matSuffix mat-icon-button aria-label="Clear" (click)="size=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Style</mat-label>
      <mat-select formControlName="style">
        <mat-option *ngFor="let style of styles"  [value]="style.value" >
          {{style.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Colour</mat-label>
      <mat-select formControlName="colour">
        <mat-option *ngFor="let colour of colours" [value]="colour.value" >
          {{colour.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>
