<mat-form-field>
  <mat-label>Element</mat-label>
  <mat-select (selectionChange)="onChange($event)">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let element of elements" [value]="element">{{formatOption(element)}}</mat-option>
  </mat-select>
</mat-form-field>
