<mat-toolbar color="primary">
  <span>Email Template Editor</span>
</mat-toolbar>
<mat-toolbar color="accent">
  <span>Available Templates</span>
</mat-toolbar>

<div fxLayout='column' fxLayoutWrap class="cards">

  <button  mat-fab mat-button routerLink="/templates"> + </button>

  <div fxFlex="50" class="example-card">
    <mat-card *ngFor="let template of availableTemplates" style="margin-top:10px;">
  <mat-card-header>
    <mat-card-title>{{template.name}}</mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <p>
        {{template.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Preview</button>
      <button mat-button routerLink="/templates">View/Edit</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
    </mat-card>
  </div>
</div>
