<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Available Header Components
      </mat-panel-title>
    </mat-expansion-panel-header>

        <mat-radio-group
          class="example-radio-group"
          aria-labelledby="example-radio-group-label"
          [(ngModel)]="selectedHeader">
          <mat-radio-button style="padding: 3px;" *ngFor="let header of availableHeaders" [value]="header">
            <strong>Name:</strong>  {{header.name}} <br>
            <strong>Description:</strong> {{header.description}}
          </mat-radio-button>
        </mat-radio-group>

    <mat-action-row>
      <button mat-button color="secondary" (click)="nextStep()">Refresh</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel   [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Available Body Components
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-radio-group
      class="example-radio-group"
      aria-labelledby="example-radio-group-label"
      [(ngModel)]="selectedBody">
      <mat-radio-button style="padding: 3px;" *ngFor="let body of availableBodies" [value]="body">
        <strong>Name:</strong>  {{body.name}} <br>
        <strong>Description:</strong> {{body.description}}
      </mat-radio-button>
    </mat-radio-group>


    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Refresh</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Available Footer Components
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-radio-group
      class="example-radio-group"
      aria-labelledby="example-radio-group-label"
      [(ngModel)]="selectedFooter">
      <mat-radio-button style="padding: 3px;" *ngFor="let footer of availableFooters" [value]="footer">
        <strong>Name:</strong>  {{footer.name}} <br>
        <strong>Description:</strong> {{footer.description}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Refresh</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
