<mat-toolbar color="primary">
  <span>Email Template Editor</span>
</mat-toolbar>
<app-element-config-view></app-element-config-view>
<br>
<mat-card>
  <mat-card-content fxLayout="column">
    <mat-card style="width: 600px; height: 400px ">
      <mat-card-content style="width: 600px; max-height: 800px; overflow-y: auto " *ngIf="selectedTemplate">
        <mat-card-title>Config View</mat-card-title>
        <ngx-json-viewer [json]="jsonConfig" [expanded]="false"></ngx-json-viewer>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>

<div [innerHTML]="theHTMLString"></div>
