:host {
  width: 350px;
  height: 600px;
}

.container {
  width: 350px;
  height: 600px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.policy-card {
  width: 80%;
  min-width: 280px;
  height: 100%;
  min-height: 280px;
  margin: auto;
  font-weight: unset !important;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.text-container {
  height: 100%;
  overflow-y: scroll;
}
