<form [formGroup]="cellConfigForm">
  <mat-form-field>
    <mat-label>Cell content</mat-label>
    <textarea formControlName="value" matInput placeholder=""></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Number of columns</mat-label>
    <mat-select formControlName="colSpan" value="1">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>
