<form [formGroup]="columnConfigForm">
  <mat-form-field>
    <mat-label>Border</mat-label>
    <mat-select formControlName="border" value="0">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Border radius</mat-label>
    <mat-select formControlName="borderRadius" value="0">
      <mat-option value="10">10</mat-option>
      <mat-option value="20">20</mat-option>
      <mat-option value="30">30</mat-option>
      <mat-option value="40">40</mat-option>
      <mat-option value="50">50</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>