<mat-card>
  <mat-card-header>
    Select element to add to email template
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <app-element-selector (elementEmitter)="retrieveElement($event)"></app-element-selector>

    <mat-card *ngIf="selectedElement">
      <mat-card-header>
        {{formatOption(selectedElement)}} options
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <app-cell-config *ngIf="selectedElement === 'cell-config'"></app-cell-config>
        <app-column-config *ngIf="selectedElement === 'column-config'"></app-column-config>
        <app-handlebars-repeater-config
          *ngIf="selectedElement === 'handlebars-repeater-config'"></app-handlebars-repeater-config>
        <app-image-config *ngIf="selectedElement === 'image-config'"></app-image-config>
        <app-link-config *ngIf="selectedElement === 'link-config'"></app-link-config>
        <app-pre-header-config *ngIf="selectedElement === 'pre-header-config'"></app-pre-header-config>
        <app-row-config *ngIf="selectedElement === 'row-config'"></app-row-config>
        <app-separator-config *ngIf="selectedElement === 'separator-config'"></app-separator-config>
        <app-spacing-config *ngIf="selectedElement === 'spacing-config'"></app-spacing-config>
        <app-text-config *ngIf="selectedElement === 'text-config'"></app-text-config>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
