<mat-toolbar color="primary">
  <span>Email Template Editor</span>
  <!--  <span class="fill-space"></span>-->
  <!--  <span>Right Aligned Text</span>-->
</mat-toolbar>

<div class="login-main" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input [(ngModel)]="email" matInput name="email" placeholder="email" required type="email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input [(ngModel)]="password" matInput name="password" placeholder="password" required type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="login()" color="primary" mat-raised-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>
