
    <form [formGroup]="spacingConfigForm">
      <mat-form-field class="form-field">
        <input matInput type="text" placeholder="Spacing" formControlName="spacing">
        <button mat-button *ngIf="spacing" matSuffix mat-icon-button aria-label="Clear" (click)="spacing=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>  
    <button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>
  
