<mat-toolbar color="primary">
  <span>Email Template Editor</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Add Component</mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column">

    <mat-grid-list cols="10" rowHeight="200px" rows="2">
      <mat-grid-tile colspan="3" rowspan="1" title="Table columns">

        <form class="example-form" [formGroup]='customerTableMetadataForm'>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Choose a variable" [matAutocomplete]="auto" formControlName='customerTableMetadataInput'>
          </mat-form-field>
          <span>Your choice is: {{customerTableMetadataForm.get('customerTableMetadataInput').value | json}}</span>

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
            <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="25"></mat-spinner></mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let customerTableMetadata of filteredCustomerTableMetadata" [value]="customerTableMetadata">
                <span>{{ customerTableMetadata.value }}</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </form>
      </mat-grid-tile>

      <mat-grid-tile colspan="7" rowspan="2" title="Text editor">
<!--        <angular-editor [(ngModel)]="htmlContent" [config]="config"-->
<!--                        placeholder="'Enter text here...'"></angular-editor>-->
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>
