mat-card {
  min-width: 40%;
}

/deep/ .angular-editor-button[title="Insert Image"],
/deep/ .angular-editor-button[title="Clear Formatting"] {
  display: none;
}

.example-form {
  width: 90%;
}

.example-full-width {
  width: 90%;
}

.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}
