<form [formGroup]="imageConfigForm">
  <mat-form-field class="form-field">
    <input matInput type="text" placeholder="src value" formControlName="src">
    <button mat-button *ngIf="src" matSuffix mat-icon-button aria-label="Clear" (click)="src=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> <br>
  <mat-form-field class="form-field">
    <input matInput type="text" placeholder="alternative  Value" formControlName="alt">
    <button mat-button *ngIf="alt" matSuffix mat-icon-button aria-label="Clear" (click)="alt=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
<button color="primary" mat-raised-button type="submit" (click)="addElement()">Add</button>